/* MODAL SIN SCROLL MOVILES*/
@media only screen and (max-device-width:768px){

body.modal-open {
// block scroll for mobile;
// causes underlying page to jump to top;
// prevents scrolling on all screens
overflow: hidden;
position: fixed;
}
}

body.viewport-lg {
// block scroll for desktop;
// will not jump to top;
// will not prevent scroll on mobile
position: absolute;
}

body {
overflow-x: hidden;
overflow-y: scroll !important;
}
/* ****************************************************** */




/* +++++++++++++++++++++++++ CELULARES +++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 250px) and (orientation: portrait) {
  /* ************************** BUSQUEDA *********************** */
  #img-carrito {
    width: 80%;
    height: 50%;
  }
  .buscador {
    padding-top: 5%;
  }
  /* ************************** FIN BUSQUEDA *********************** */

  .container-listado-productos {
    padding: 2%;
    /*height: 400px;*/
    height: 56vh;
  }

  /* Hacer descripcion producto acorde con dimensiones */
  .container-descripcion {
    position: relative;
    padding: 2%;
    font-weight: bold;
    font-size: 1.3em;  /* 1.3em */
  }
}

@media only screen and (min-width: 250px) and (orientation: landscape) {
  /* ************************** BUSQUEDA *********************** */
  #img-carrito {
    width: 80%;
    height: 50%;
  }
  .buscador {
    padding-top: 5%;
  }
  /* ************************** FIN BUSQUEDA *********************** */

  .container-listado-productos {
    padding: 2%;
    /*height: 400px;*/
    height: 85vh;
  }

  /* Hacer descripcion producto acorde con dimensiones */
  .container-descripcion {
    position: relative;
    padding: 1%;
    font-weight: bold;
    font-size: 1.3em; /* 1.3em  o 3vw*/
  }
}



/* +++++++++++++++++++++++++ TABLETAS +++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 550px) {
  /* ************************** BUSQUEDA *********************** */
  #img-carrito {
    width: 65%;
    height: 50%;
  }
  .buscador {
    padding-top: 7%;
  }
  /* ************************** FIN BUSQUEDA *********************** */
}



/* +++++++++++++++++++++++++ PCS +++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 769px) {
  /* ************************** BUSQUEDA *********************** */
  #img-carrito {
    width: 90%;
    height: 50%;
  }
  .buscador {
    padding-top: 3%;
  }
  /* ************************** FIN BUSQUEDA *********************** */

  /* Hacer descripcion producto acorde con dimensiones */
  .container-descripcion {
    position: relative;
    padding: 1%;
    font-weight: bold;
    font-size: 1.6em; /* 1.3em  o 3vw*/
  }
}

@media only screen and (min-width: 992px) {
  /* ************************** BUSQUEDA *********************** */
  #img-carrito {
    width: 75%;
    height: 50%;
  }
  .buscador {
    padding-top: 3%;
  }
  /* ************************** FIN BUSQUEDA *********************** */

  .container-listado-productos {
    padding: 2%;
    /*height: 400px;*/
    width: 85%;
    margin: auto;
  }

  /* Hacer descripcion producto acorde con dimensiones */
  .container-descripcion {
    position: relative;
    padding: 5%;
    font-weight: bold;
    font-size: 1.8em;
  }

}

@media only screen and (min-width: 1200px) {
  #img-opciones-buy {
    width: 80%;
  }

  .btn-pie-compra {
    width: 60%;
  }
}




@charset "utf-8";
.container-fluid-fondo {
  background-image: url(../imagenes/fondo_app_buy_all.png);
  margin-top: 0%;
}
.container-fluid-fondo .container-fondo {
  height: 100%;

  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5%;
  padding-bottom: auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.container-fondo .container-fluid-encabezado .container-logo-Btn_opciones {
  padding-bottom: 4%;  /* CAMBIADO DE 20% a 5% */
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.container-fondo .container-fluid-cuerpo .container-busqueda-carrito {
}
.container-fondo .container-fluid-pie .container-carrito-mensajes-botones {
}

.container-fluid-fondo .container-fondo .container-fluid-pie {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.container-fluid-encabezado .container-logo-Btn_opciones .container-logo {
  float: left;
  border-top-left-radius: 18px;
  width: 28.6%;
}
.container-fluid-encabezado .container-logo-Btn_opciones .container-Btn_opciones {
  float: right;
  border-top-right-radius: 18px;
  width: 28.6%;
  padding-top: 0%;
  margin-top: -1%;
  margin-right: -4.5%;
}
.container-logo-Btn_opciones .container-Btn_opciones .img-responsive {
  width: 72%;
}
.container-fondo .container-fluid-pie .container-derechos_reservados {
  padding-bottom: 5%;
  background-color: #FF5A3D;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

/*
div .container-productos .container-vitrina {
  background-image: url(../imagenes/estante%20productos3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 15%;
}
.container-productos .container-vitrina #compra {
  width: 16%;
  float: left;
  padding-bottom: 0px;
}*/


/* ************************** BARRA NAVEGACION *********************** */
.btn-grande {
  padding: 26px 20px;
}
.input-grande {
  width: 100%;
  height: 90px;
  font-size: 40px;
}
/* ************************** FIN BARRA NAVEGACION *********************** */


/* ************************* PRODUCTOS ******************************** */


.desplazamiento {
  position: relative;
  padding : 4px;
  width : 100%;
  height : 100%;
  overflow : auto;
  border: 1px solid red;
}

.container-vitrina {
  width: 100%;
  margin: auto;
  height: 38%;
  background: url("../imagenes/estante%20productos3.png") no-repeat bottom;
  background-size: 100% 100%;
  position: relative;
}

  .container-producto {
    position: relative; /* Sera relativo a su posición normal */
    height: 100%; /* Todo el alto del container-vitrina; Ancho limitado por col-xs-3 */
    left: 4%; /* Espacio para mejor colocación en vitrina */
  }

    .link-producto {
      cursor: pointer;
    }

    .producto {
      max-width: 100%; /* 100% ancho de su contenedor logoP*/
      max-height: 80%; /* 80% del tamaño de su contenedor => quedar sobre la imagen de la Vitrina */
      position: absolute; /* Relativo a posicion de .logoP */
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
    }

/*  .container-descripcion {
    position: relative;
    padding: 5%;
    font-weight: bold;
    font-size: 1.4em;
  }*/

  .container-btn-logo {
    height: 100%;
    position: relative;
    right: 5%;
  }

    .contain-half {
      position: relative;
      height: 50%;
    }

      .logoEmpresa {
        position: relative;
        width: 50%;
        height: 50%;
        margin: auto;
        top: 15px;
      }
/* ************************* FIN PRODUCTOS ******************************** */

/* ************************ CARRUSEL MODAL PRODUCTOS ******************************** */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 450px;
  }

  /* La X para cerrar*/
  #modal-cierre {
    opacity: 0.5;
  }

  #modal-cierre:hover {
    opacity: 1;
  }
  /* ***************** */

  .desplazamiento-modal-produtos {
    padding : 4px;
    width : 100%;
    height : 180px;
    overflow : auto;
    border: 1px solid red;
  }


  .img-container{
    position: relative;
    max-height: 300px;
    min-height: 300px;
    background: #F0F1F3;
  }

  .img-modal {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* ************************ FIN CARRUSEL MODAL PRODUCTOS ******************************** */

  /* ************************ CARRUSEL MODAL COMPRAR ******************************** */

  .img-container2{
    position: relative;
    max-height: 200px;
    min-height: 200px;
  }

  /* ************************ CARRUSEL MODAL FIN COMPRAR ******************************** */

