@charset "utf-8";
.container-fluid-fondo {
  background-image: url(../imagenes/fondo_app_buy_all.png);
  margin-top: 0%;
}
.container-fluid-fondo .container-fondo {
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5%;
  padding-bottom: auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.container-fondo .container-fluid-encabezado .container-logo-Btn_opciones {
  padding-bottom: 4%;  /* CAMBIADO DE 20% a 5% */
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.container-fondo .container-fluid-cuerpo .container-busqueda-carrito {
}
.container-fondo .container-fluid-pie .container-carrito-mensajes-botones {
}

.container-fluid-fondo .container-fondo .container-fluid-pie {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.container-fluid-encabezado .container-logo-Btn_opciones .container-logo {
  float: left;
  border-top-left-radius: 18px;
  width: 28.6%;
}
.container-fluid-encabezado .container-logo-Btn_opciones .container-Btn_opciones {
  float: right;
  border-top-right-radius: 18px;
  width: 28.6%;
  padding-top: 0%;
  margin-top: -1%;
  margin-right: -4.5%;
}
.container-logo-Btn_opciones .container-Btn_opciones .img-responsive {
  width: 72%;
}
.container-fondo .container-fluid-pie .container-derechos_reservados {
  padding-bottom: 5%;
  background-color: #B3AAAA;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

/*
div .container-productos .container-vitrina {
  background-image: url(../imagenes/estante%20productos3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 15%;
}
.container-productos .container-vitrina #compra {
  width: 16%;
  float: left;
  padding-bottom: 0px;
}*/


/* ************************** BARRA NAVEGACION *********************** */
.btn-grande {
  padding: 26px 20px;
}
.input-grande {
  width: 100%;
  height: 90px;
  font-size: 40px;
}
/* ************************** FIN BARRA NAVEGACION *********************** */

/* ************************** BUSQUEDA *********************** */
.buscador {
  padding-top: 10%;
}

/* ************************** FIN BUSQUEDA *********************** */


/* ************************* PRODUCTOS ******************************** */
.container-listado-productos {
  padding: 2%;
}

.desplazamiento {
  padding : 4px;
  width : 100%;
  height : 350px;
  overflow : auto;
  border: 1px solid red;
}

.container-vitrina {
  height: 150px;
  background: url("../imagenes/estante%20productos3.png") no-repeat bottom;
  background-size: 100% 100%;
}

  .container-producto {
    position: relative; /* Sera relativo a su posición normal */
    height: 100%; /* Todo el alto del container-vitrina; Ancho limitado por col-xs-3 */
    left: 4%; /* Espacio para mejor colocación en vitrina */
  }

    .link-producto {
      cursor: pointer;
    }

    .producto {
      max-width: 100%; /* 100% ancho de su contenedor logoP*/
      max-height: 80%; /* 80% del tamaño de su contenedor => quedar sobre la imagen de la Vitrina */
      position: absolute; /* Relativo a posicion de .logoP */
    }

  .container-descripcion {
    position: relative;
  }

  .container-btn-logo {
    height: 100%;
    position: relative;
    right: 5%;
  }

    .contain-half {
      position: relative;
      height: 50%;
    }

      .logoEmpresa {
        position: relative;
        width: 50%;
        height: 80%;
        margin: auto;
        top: 4px;
      }
/* ************************* FIN PRODUCTOS ******************************** */

/* ************************ CARRUSEL MODAL PRODUCTOS ******************************** */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 450px;
  }

  .img-container{
    position: relative;
    max-height: 250px;
    min-height: 250px;
    background: #F0F1F3;
  }

  .img-modal {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* ************************ FIN CARRUSEL MODAL PRODUCTOS ******************************** */

  /* ************************ CARRUSEL MODAL COMPRAR ******************************** */

  .img-container2{
    position: relative;
    max-height: 200px;
    min-height: 200px;
  }

  /* ************************ CARRUSEL MODAL FIN COMPRAR ******************************** */

